venv
.git
db.sqlite3 
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.git*
.git/
.github/
infra/
media/
sent_emails/
.env.template
.gitignore
.python-version
Dockerfile
docker-compose.dev.yml
docker-compose.prod.yml
isort.cfg
request.http
requirements.txt
selftest-cert.crt
selftest-cert.key
setup.cfg
