version: '3.3'

volumes:
  pg_data:
  static_value:
  media_value:

services:
  db:
    image: postgres:13
    env_file: ./.env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: pe4enkaaas/car_service_backend
    env_file: ./.env
    depends_on:
      - db
    volumes:
      - static_value:/static/
      - media_value:/app/media/

  nginx:
    image: nginx:1.19.3
    ports:
      - 8000:80
    depends_on:
      - backend
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./docs/:/usr/share/nginx/html/api/docs/
      - static_value:/static/
      - media_value:/app/media/
